<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Glimmer Client</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app" class="container pb-3">
    <div v-if="node">
      <div class="row">
        <div class="col col-sm-7 col-md-6 col-lg-5 col-xl-4 balance">
          <h5 class="fw-light">
            Your Balance
          </h5>
          <div class="display-6 px-3">
            {{ amountString(balance.amount) }}
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col col-md-7 col-lg-8 col-lg-9">
          <div class="shadow-card mb-4">
            <h5>
              Your Address
            </h5>
            <div class="form-control user-select-all overflow-auto">
              {{ address }}
            </div>
          </div>
    
          <div class="shadow-card mb-4">
            <h5>
              Send Funds
            </h5>
            <transaction-form></transaction-form>
          </div>
        </div>
        <div class="col">
          <div class="shadow-card mb-4">
            <h5>
              More Options
            </h5>
            <div class="button-list">
              <button v-if="!walletEncrypted" @click="showSecurityModal">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    Create Password
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-warning" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
                </div>
              </button>
              <button @click="showDirectTransferModal">
                Direct Transfer
              </button>
              <button @click="showWalletModal">
                Import Wallet
              </button>
              <button @click="showWalletExportModal">
                Export Wallet
              </button>
              <button v-if="walletEncrypted" @click="showSecurityModal">
                Security Settings
              </button>
            </div>

            <button v-if="walletEncrypted" @click="signOut" class="btn w-100 btn-danger mt-3">
              Sign Out
            </button>
          </div>
        </div>
      </div>

      <div v-if="transactions.length" class="row">
        <div class="col">
          <div class="shadow-card">
            <h5>
              Recent Device Transactions
            </h5>

            <transaction-list :transactions="transactions" :address="address"></transaction-list>
          </div>
        </div>
      </div>
    </div>

    <authentication-modal :state="authenticationModalState" :wallet="existingWallet" :biometric="biometric"></authentication-modal>
    <wallet-modal :state="walletModalState"></wallet-modal>
    <security-modal :state="securityModalState" :address="address" :existing-password="walletEncrypted" :biometric="biometric"></security-modal>
    <wallet-export-modal :state="walletExportModalState"></wallet-export-modal>
    <direct-transfer-modal :state="directTransferModalState"></direct-transfer-modal>
  </div>

  <template id="transaction-form-template">
    <form @submit.prevent="sendTransaction" autocomplete="off">
      <div class="row g-3 align-items-end">
        <div class="col-4 col-sm-3">
          <label for="transaction-amount">
            Amount
          </label>
          <input v-model="amount" class="form-control" :class="{ 'is-invalid': error === 'amount' }" id="transaction-amount" type="number" step="0.00000001" inputmode="decimal">
        </div>
        <div class="col">
          <label for="transaction-address">
            Recipient Address
          </label>
          <input v-model="address" class="form-control" :class="{ 'is-invalid': invalidAddress || error === 'address' }" id="transaction-address">
        </div>
        <div class="col-12 col-sm-auto d-flex justify-content-end">
          <button class="btn btn-success">
            Send
          </button>
        </div>
      </div>
    </form>

    <div class="modal fade" id="transaction-loading-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="d-flex justify-content-center w-100">
          <div class="transaction-loading-modal">
            <div v-if="loading">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Sending Funds...</span>
              </div>
            </div>
            <div v-else-if="result" class="d-flex flex-column align-items-center text-success">
              <svg style="width: 2em;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
              
              <div class="h5 mb-0 mt-2 mx-2">
                Sent
              </div>
            </div>
            <div v-else-if="result === false" class="d-flex flex-column align-items-center text-danger">
              <svg style="width: 2em;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg>

              <div class="h5 mb-0 mt-2">
                Rejected
              </div>
            </div>
            <div v-else class="d-flex flex-column align-items-center text-danger">
              <svg style="width: 2.5em;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M10.706 3.294A12.545 12.545 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c.63 0 1.249.05 1.852.148l.854-.854zM8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065 8.448 8.448 0 0 1 3.51-1.27L8 6zm2.596 1.404.785-.785c.63.24 1.227.545 1.785.907a.482.482 0 0 1 .063.745.525.525 0 0 1-.652.065 8.462 8.462 0 0 0-1.98-.932zM8 10l.933-.933a6.455 6.455 0 0 1 2.013.637c.285.145.326.524.1.75l-.015.015a.532.532 0 0 1-.611.09A5.478 5.478 0 0 0 8 10zm4.905-4.905.747-.747c.59.3 1.153.645 1.685 1.03a.485.485 0 0 1 .047.737.518.518 0 0 1-.668.05 11.493 11.493 0 0 0-1.811-1.07zM9.02 11.78c.238.14.236.464.04.66l-.707.706a.5.5 0 0 1-.707 0l-.707-.707c-.195-.195-.197-.518.04-.66A1.99 1.99 0 0 1 8 11.5c.374 0 .723.102 1.021.28zm4.355-9.905a.53.53 0 0 1 .75.75l-10.75 10.75a.53.53 0 0 1-.75-.75l10.75-10.75z"/>
              </svg>

              <div class="h5 mb-0 mt-2">
                Failed to Connect
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="transaction-list-template">
    <div v-for="(transaction, i) in transactions" class="row align-items-center p-2" :class="{ 'border-top': i > 0 }">
      <div class="col-2 col-sm-1 mb-1">
        <div v-if="transaction.sender === address" class="text-danger">
          <svg style="width: 1.25em;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708l3-3z"/>
          </svg>
        </div>
        <div v-else class="text-success">
          <svg style="width: 1.3em;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>
        </div>
      </div>
      
      <div class="col">
        {{ amountString(transaction.amount) }}
      </div>

      <div class="col-auto font-monospace">
        <button @click="setTransactionFormRecipient(transaction)" class="btn btn-link" :title="otherParty(transaction)">
          <span class="d-md-none">
            {{ otherParty(transaction).slice(0, 8) }}…
          </span>
          <span class="d-none d-md-block d-lg-none">
            {{ otherParty(transaction).slice(0, 16) }}…
          </span>
          <span class="d-none d-lg-block d-xl-none">
            {{ otherParty(transaction).slice(0, 32) }}…
          </span>
          <span class="d-none d-xl-block">
            {{ otherParty(transaction) }}
          </span>
        </button>
      </div>

      <div class="d-none d-sm-block col-sm-5 col-md-4 col-lg-3 col-xl-2 text-end">
        {{ dateString(transaction) }}
      </div>
    </div>
  </template>

  <template id="wallet-modal-template">
    <div class="modal fade" id="wallet-modal" tabindex="-1" role="dialog" aria-labelledby="wallet-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="wallet-modal-title">
              {{ state.firstTime ? "Welcome to Glimmer" : "Import or Create a New Wallet" }}
            </h3>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="mb-3">
                <div class="fs-5 mb-2">
                  Import an existing wallet
                </div>

                <form @submit.prevent="importWallet">
                  <textarea v-model="wallet" class="form-control font-monospace mb-2" :class="{ 'is-invalid': error === 'wallet' }" rows="2" placeholder="JSON or private key"></textarea>

                  <div class="row g-2 mb-2">
                    <div class="col">
                      <input v-model="password" class="form-control" :class="{ 'is-invalid': error === 'password' }" type="password" placeholder="Encryption Password" :disabled="!passwordRequired">
                    </div>
                    <div class="col-auto">
                      <button
                        v-if="importTask.progress === 0 || importTask.progress === 1"
                        class="btn btn-primary"
                      >
                        Import
                      </button>
                      <button v-else @click="importTask.stop = true" class="btn btn-warning" type="button">
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>

                <div class="progress">
                  <div class="progress-bar" :style="{ width: importTask.progress * 100 + '%' }"></div>
                </div>

                <div v-if="importedWallet" class="alert alert-warning mt-3">
                  Confirm that this address matches the one you are trying to import
                  <div class="form-control light overflow-auto mt-1">
                    {{ importedWallet.public.address }}
                  </div>

                  <div class="d-flex justify-content-end mt-2">
                    <button @click="confirmImportedWallet" class="btn btn-outline-dark">
                      Confirm
                    </button>
                  </div>
                </div>
              </div>
              
              <div>
                <div class="fs-5 mb-2">
                  Or create a new one
                </div>
                
                <div class="d-flex justify-content-center">
                  <button @click="generateWallet()" class="btn btn-success">
                    Generate Wallet
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div v-if="!state.firstTime" class="modal-footer">
            <button @click="hide" class="btn btn-secondary">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="authentication-modal-template">
    <div class="modal fade" id="authentication-modal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div v-if="wallet" class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="authentication-modal-title">
              Authentication Required
            </h3>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="mb-3">
                <div class="mb-2">
                  Enter the password for the wallet starting in <code>{{ wallet.publicAddress.slice(0, 8) }}</code>
                </div>

                <form @submit.prevent="importWallet">
                  <div class="row g-2 mb-2">
                    <div class="col">
                      <input v-model="password" class="form-control" :class="{ 'is-invalid': error }" type="password" placeholder="Enter Password">
                    </div>
                    <div class="col-auto">
                      <button class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>

                <div v-if="biometric.enabled" class="d-flex justify-content-center mt-3">
                  <button @click="useBiometric" class="btn btn-success">
                    Use {{ biometric.type }}
                  </button>
                </div>

                <div v-if="failedAttempts >= 3" class="d-flex justify-content-center mt-4">
                  <button @click="reset" class="btn btn-danger">
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="security-modal-template">
    <div class="modal fade" id="security-modal" tabindex="-1" role="dialog" aria-labelledby="security-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="security-modal-title">
              {{ existingPassword ? "Security Settings" : "Create Password" }}
            </h3>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div v-if="existingPassword" class="mb-2">
                Create a password for your wallet starting in <code>{{ address.slice(0, 8) }}</code>
              </div>
              <div v-else class="mb-2">
                Change the password for your wallet starting in <code>{{ address.slice(0, 8) }}</code>
              </div>

              <form @submit.prevent="setPassword" class="mb-3">
                <div v-if="existingPassword" class="form-floating mb-3">
                  <input v-model="currentPassword" class="form-control" :class="{ 'is-invalid': error === 'currentpassword' }" type="password" placeholder="Current Password">
                  <label>Current Password</label>
                </div>

                <div class="form-floating mb-2">
                  <input v-model="newPassword" class="form-control mb-2" :class="{ 'is-invalid': error === 'newpassword' }" type="password" placeholder="New Password">
                  <label>
                    {{ existingPassword ? "New Password" : "Encryption Password" }}
                  </label>
                </div>
                
                <div class="form-floating mb-3">
                  <input v-model="confirmPassword" class="form-control mb-3" :class="{ 'is-invalid': error === 'confirm' }" type="password" placeholder="Confirm Password">
                  <label>
                    {{ existingPassword ? "Confirm New Password" : "Confirm Password" }}
                  </label>
                </div>
                
                <div class="d-flex justify-content-end">
                  <button class="btn btn-primary">
                    {{ existingPassword ? "Set Password" : "Create Password" }}
                  </button>
                </div>
              </form>

              <div v-if="existingPassword && biometric.type" class="mt-4">
                <button v-if="biometric.enabled" @click="disableBiometric" class="btn btn-danger w-100">
                  Disable {{ biometric.type }}
                </button>
                <button v-else @click="enableBiometric" class="btn btn-success w-100">
                  Enable {{ biometric.type }}
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="hide" class="btn btn-secondary">
              {{ state.firstTime ? "Skip" : "Done" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="wallet-export-modal-template">
    <div class="modal fade" id="wallet-export-modal" tabindex="-1" role="dialog" aria-labelledby="wallet-export-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="wallet-export-modal-title">
              Export Wallet
            </h3>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="mb-3">
                <form @submit.prevent="exportWallet">
                  <div class="d-flex mb-2">
                    <div class="pe-2">
                      Fast
                    </div>
                    <input v-model="securityLevel" class="form-range" type="range" min="0" max="6">
                    <div class="ps-2">
                      Secure
                    </div>
                  </div>

                  <div class="row g-2 mb-2">
                    <div class="col">
                      <input v-model="password" class="form-control" type="password" placeholder="Encryption Password">
                    </div>
                    <div class="col-auto">
                      <button
                        v-if="exportTask.progress === 0 || exportTask.progress === 1"
                        class="btn btn-primary"
                      >
                        Export
                      </button>
                      <button v-else @click="exportTask.stop = true" class="btn btn-warning" type="button">
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>

                <div class="progress">
                  <div class="progress-bar" :style="{ width: exportTask.progress * 100 + '%' }"></div>
                </div>

                <textarea v-if="json" class="form-control font-monospace user-select-all mt-4" :value="json" rows="3" readonly></textarea>
              </div>

              <div>
                Private Key
                <div class="input-group">
                  <div class="form-control d-flex align-content-center">
                    <textarea class="address-textarea font-monospace user-select-all" rows="1" readonly>
                      {{ privateKey() }}
                    </textarea>
                  </div>
                  
                  <button @click="showPrivate = !showPrivate" class="btn btn-outline-primary">
                    {{ showPrivate ? "Hide" : "Show" }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div v-if="!state.firstTime" class="modal-footer">
            <button @click="hide" class="btn btn-secondary">
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="direct-transfer-modal-template">
    <div class="modal fade" id="direct-transfer-modal" tabindex="-1" role="dialog" aria-labelledby="direct-transfer-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="direct-transfer-modal-title">
              Direct Transfer
            </h3>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="mb-3">
                <div class="fs-5 mb-2">
                  The wallet to transfer from
                </div>

                <form @submit.prevent="importWallet">
                  <textarea v-model="wallet" class="form-control font-monospace mb-2" :class="{ 'is-invalid': error === 'wallet' }" placeholder="JSON or private key"></textarea>

                  <div class="row g-2 mb-2">
                    <div class="col">
                      <input v-model="password" class="form-control" :class="{ 'is-invalid': error === 'password' }" type="password" placeholder="Encryption Password" :disabled="!passwordRequired">
                    </div>
                    <div class="col-auto">
                      <button
                        v-if="importTask.progress === 0 || importTask.progress === 1"
                        class="btn btn-primary"
                      >
                        Import
                      </button>
                      <button v-else @click="importTask.stop = true" class="btn btn-warning" type="button">
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>

                <div class="progress">
                  <div class="progress-bar" :style="{ width: importTask.progress * 100 + '%' }"></div>
                </div>

                <div v-if="importedWallet" class="alert alert-success mt-4">
                  Confirm that this address matches the one you are trying to transfer from

                  <div class="form-control light overflow-auto mt-2 mb-3">
                    {{ importedWallet.public.address }}
                  </div>

                  <form @submit.prevent="transfer">
                    <div class="row justify-content-between align-items-end g-2">
                      <div class="col">
                        <label class="form-label" for="direct-transfer-amount">
                          Amount <span class="badge bg-success">{{ amountString(availableFunds) }}</span>
                        </label>
                        <input v-model="amount" class="form-control light" :class="{ 'is-invalid': error === 'amount' }" id="direct-transfer-amount">
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-outline-success">
                          Transfer
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="hide" class="btn btn-secondary">
              {{ importedWallet ? "Done" : "Cancel" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3.0.11"></script>

  <script src="lib/coin-table.min.js"></script>

  <script src="utils/async-storage.js"></script>
  <script src="utils/secure-storage.min.js"></script>

  <script src="app.js"></script>
  <script src="vue-components/transaction-form.js"></script>
  <script src="vue-components/transaction-list.js"></script>
  <script src="vue-components/wallet-modal.js"></script>
  <script src="vue-components/authentication-modal.js"></script>
  <script src="vue-components/security-modal.js"></script>
  <script src="vue-components/wallet-export-modal.js"></script>
  <script src="vue-components/direct-transfer-modal.js"></script>
  <script> app = app.mount("#app") </script>
</body>
</html>