body {
  background-image: linear-gradient(to top right, white, 70%, #a9c8ff);
  background-attachment: fixed;
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(to bottom right, black, 70%, #001b49);
  }
}

.transaction-loading-modal {
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.15);
}
@media (prefers-color-scheme: dark) {
  .transaction-loading-modal {
    background-color: #111111;
  }
}

.button-list {
  display: flex;
  flex-direction: column;
}
.button-list > button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;

  color: inherit;
  text-align: start;
  border: solid #88888888;
  border-width: 0;
  padding: 0.5em 1em;
}
.button-list > button:hover, .button-list > button:focus {
  background-color: #88888822;
}
.button-list > button:not(:last-child) {
  border-bottom-width: 1px;
}
@media (min-width: 576px) {
  .button-list > button {
    padding: 0.25em 0.5em;
  }
}

.shadow-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.15);

  margin-bottom: 1.5rem;
}
@media (prefers-color-scheme: dark) {
  .shadow-card {
    background-color: black;
    border-color: #333333;
    border-style: solid;
    border-width: 1px;
  }
}

.balance {
  background: linear-gradient(145deg, #2a459e, #6173ff);
  color: #FFFFFF;
  border: none;

  display: inline-block;
  min-width: 100%;
}
@media (min-width: 768px) {
  .balance {
    min-width: 40%;
  }
}

.address-textarea {
  width: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  resize: none;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}


.border-top, .border {
  border-top: solid 1px #88888888!important;
}
.border-bottom, .border {
  border-bottom: solid 1px #88888888!important;
}
.border-start, .border {
  border-left: solid 1px #88888888!important;
}
.border-end, .border {
  border-right: solid 1px #88888888!important;
}

@media (prefers-color-scheme: dark) {
  /* The :not(.light) is for the faux input inside of the wallet import confirmation alert */
  body, .form-control:not(.light), .form-control:focus:not(.light), .form-control[readonly], textarea {
    background-color: black;
    color: #DDDDDD;
  }

  .form-control:not(.light), .input-group-text {
    border-color: #555555;
  }

  .form-control:focus:not(.light) {
    border-color: #888888;
  }

  .form-control:disabled {
    background-color: #222222;
  }

  .input-group-text {
    background-color: #333333;
    color: #DDDDDD;
  }

  .modal-content {
    background-color: #111111;
  }

  .progress {
    background-color: #333333;
  }

  .modal-header, .modal-footer {
    border-color: #888888;
  }

  .form-range::-webkit-slider-runnable-track, .form-range::-moz-range-track {
    background-color: #333333;
  }
}
